body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
h1 {
    color: #333;
    margin-bottom: 20px;
}
.score-container, .games-container, .button-container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.score, .games {
    font-size: 2.5em;
    margin: 0 20px;
    color: #555;
}
.parts {
    font-size: 2.5em;
    margin: 40px 20px 0;
    color: #555;
}
button {
    font-size: 1.5em;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.dima-button {
    background-color: #007BFF;
}
.dima-button:hover {
    background-color: #0056b3;
}
.dima-button:active {
    background-color: #004085;
}
.denis-button {
    background-color: #28a745;
}
.denis-button:hover {
    background-color: #218838;
}
.denis-button:active {
    background-color: #1e7e34;
}
.reset-button {
    background-color: #dc3545;
}
.reset-button:hover {
    background-color: #b02a37;
}
.reset-button:active {
    background-color: #852029;
}